body {
  margin: 0;
  background-color: #222;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 5rem;
  color: #333;
  text-shadow: 0px 0px 10px limegreen, 0px 0px 10px limegreen, 0px -0px 10px limegreen, 0px 0px 10px limegreen;
}

.feed {
  color: lime;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #222;
  width: 70vw;
  border: 2px solid limegreen;
  border-radius: 10px;
  margin: 5vh auto;
  height: 60vh;
  overflow-y: auto;

}

.feed::-webkit-scrollbar{
  background-color: black;
  border-radius: 15px;
}
.feed::-webkit-scrollbar-thumb {
  background: limegreen;
  border-radius: 50px;
}

.tweet-block {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.tweet-block:nth-of-type(odd) {
  background-color: #333;
  border-radius: 50px;

}

.tweet-time {
  color: #999;
  font-style: italic;
  width: 12rem;

}

.btn-main {
  color: lime;
  font-size: 2rem;
  background: transparent;
  font-weight: bold;
  border: 1px solid limegreen;
  border-radius: 10px;
  margin-left: 15vw;
  box-shadow: 3px 3px #006600;
  outline: none;
}

.btn-main:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px #006600;
}

.btn-user {
  color: limegreen;
  background: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
  text-decoration: underline;
  width: 10rem;
  text-align: left;

}

.btn-user:hover {
  color: lime;
}

.btn-user:active {
  color: maroon;
}

